body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#movieContainer {

}

.movieItem {
    display: inline-block;
    flex-wrap: wrap;
    padding: 5px;
    margin: 5px;
    width: 200px;
    border-radius: 10px;
    color:white;
    background-color: maroon;
    vertical-align: top;
}

.movieItem img {
    width: 100%;
}

.movieText {
    font-size: .75em;
}

.movieTitle {
    font-weight: bolder;
    text-transform: capitalize;
    text-align: center;
    font-size: 1.2em;
}